<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
  {{.AcaYear}}<br>
  {{range .Fall.Courses}}
    {{.Number}} - {{.Name}} - {{.Units}}<br>
  {{end}}

  {{range .Spring.Courses}}
    {{.Number}} - {{.Name}} - {{.Units}}<br>
  {{end}}
{{end}}

</body>
</html>
